In [15]:
import pandas as pd 

df = pd.read_csv('AAPL_data.csv')
df.head(5)
df.info()
# df['Date'].nunique()
# df['High'].dropna()
df.columns #name of the columns
df.describe() #it gives information about numeric columns.
len(df)
df.duplicated()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125 entries, 0 to 124
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       125 non-null    object
 1   Open       125 non-null    float64
 2   High       125 non-null    float64
 3   Low        125 non-null    float64
 4   Close      125 non-null    float64
 5   Adj Close  125 non-null    float64
 6   Volume     125 non-null    int64
dtypes: float64(5), int64(1), object(1)
memory usage: 7.0+ KB

0      False
1      False
2      False
3      False
4      False
       ...
120    False
121    False
122    False
123    False
124    False
Length: 125, dtype: bool

In [16]:
df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
120    False
121    False
122    False
123    False
124    False
Length: 125, dtype: bool

In [21]:
df.isnull().sum()
df.duplicated().sum()

np.int64(0)

In [22]:
df.head(2)

,Date,Open,High,Low,Close,Adj Close,Volume
0,2018-01-02,170.160004,172.300003,169.259995,172.259995,168.339050,25555900
1,2018-01-03,172.529999,174.550003,171.960007,172.229996,168.309738,29517900

In [43]:
pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
     |████████████████████████████████| 250 kB 3.9 MB/s eta 0:00:01
Collecting et-xmlfile
  Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5
WARNING: You are using pip version 21.2.4; however, version 25.1.1 is available.
You should consider upgrading via the '/Users/logambigaikuppusamy/Documents/DataScience/Financeanalyst/venv/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [44]:
import pandas as pd
import os
print(os.getcwd())
# df1= pd.read_csv('.//real_estate_investment_trust_analysis/EQR.csv')
df1 = pd.read_excel('student.xlsx')
# df1 = pd.read_excel('./student.xlsx', engine='openpyxl')
df1.head(2)

/Users/logambigaikuppusamy/Documents/DataScience/Financeanalyst

   id      name  class  mark  gender
0   1  John Deo   Four    75  female
1   2  Max Ruin  Three    85    male

In [84]:
# 1) Return name and class of first 3 students
df1[["name","class"]].head(3)
df1[['name', 'class']][:3]
df1.loc[0:2, ['name', 'class']]
df1.iloc[:3,1:3]

# 2) Return average mark for all students
df1['mark'].mean()

# 3) Return 3 sample class and gender of the students
df1[['class','gender']].sample(3)
df1[['class', 'gender']][:3]
df1.loc[0:2, ['class', 'gender']]
df1.iloc[:3][['class', 'gender']]
df1.iloc[0:3, [2, 4]]

# 4) Return first 5 rows
# Use slicing method
# Use loc
# Use iloc
# df1[0:5]
# df1.loc[0:4]
# df1.iloc[0:5]

   class  gender
0   Four  female
1  Three    male
2  Three    male

In [116]:
df1[df1['gender']=='male']
df1[df1['class']=='Six']
df1[~(df1['mark']>52)]
# with iloc
df1[df1.iloc[:,3]<52]
df1[df1.loc[:,'mark']<52]
df1.loc[(df1['mark']<52) & (df1['gender']=='male')]
df1.loc[(df1['mark']>52) & (df1['gender']=='female')].head(2)
df1.loc[(df1['mark']>52) & (df1['gender']=='female'),['name','class','mark','gender']].head(2)

# OR operator
df1[(df1["gender"] == "male") | (df1["class"]=="Five")].head(2)

   id      name  class  mark gender
1   2  Max Ruin  Three    85   male
2   3    Arnold  Three    55   male

In [180]:
# Average mark across all students
df1[['mark']].mean()

# Average mark across male and female students
# df1[df1['gender'].isin(['male', 'female'])]['mark'].mean()
# df1[(df1['gender']=='male') | (df1['gender']=='female')]['mark'].mean()
# df1[(df1['gender']=='male') ]['mark'].mean()
# df1[(df1['gender']=='female')]['mark'].mean()
df1.loc[df1['gender']=='male','mark'].mean()


# # Max and min mark
#df1[df1['mark']].min()
df1[['mark']].max()

# # Max mark for male and female students
# df1[(df1['gender']=='female')]['mark'].max()
# df1[(df1['gender']=='male')]['mark'].max()
# df1[(df1['gender']=='female') | (df1['gender']=='male')]['mark'].max()


# # # Average mark for class 'Five'
# df1[(df1['class']=='Five')]['mark'].mean()

# # # Average mark for class 'Six' and male students only 
# df1[(df1['class']=='Six') & (df1['gender']=='male')]['mark'].mean()
df1.loc[(df1['class']=='Six') & (df1['gender']=='male'),'mark'].mean()


df1.loc[1:10,['name','class','mark']].sort_values(by='mark', ascending=False)
df1.loc[:, "name"].sort_values().head(3) # you can ignore by argument if there is only 1 column in the output
df1.sort_values(by="mark", ascending=False).head()
df1.loc[:, :].sort_values(by="gender", ascending=False)
df1.loc[1:10,['name','class']].sort_values(by='class', ascending=False)

#number of students in each class
df1['class'].value_counts()

class
Seven    10
Four      8
Six       7
Three     3
Five      2
Nine      2
Fifth     1
Eight     1
Name: count, dtype: int64

In [181]:
data = {
  'calories': [420, 380, 390],
  'duration': [50, 40, 45]
}
df = pd.DataFrame(data)
print(df.loc[0])
# Insert the correct argument to make sure that the changes are done for the original DataFrame instead of returning a new one.
# dropna(inplace = True)

df2 = pd.DataFrame([
  [1, 'San Diego', 100],
  [2, 'Los Angeles', 120],
  # Fill in rows 3 and 4
  [3, 'San Francisco', 90],
  [4, 'Sacramento', 115]
],
  columns=[
    #add column names here
    'Store ID','Location','Number of Employees'
  ])

print(df2)

calories    420
duration     50
Name: 0, dtype: int64
   Store ID       Location  Number of Employees
0         1      San Diego                  100
1         2    Los Angeles                  120
2         3  San Francisco                   90
3         4     Sacramento                  115

In [183]:
####Loading and Saving CSVs

pd.read_csv('my-csv-file.csv')
df.to_csv('new-csv-file.csv')

In [199]:
# To inspect the data
import os, pandas as pd
print(os.getcwd())
df = pd.read_csv('tree_species_nyc.csv', encoding='ISO-8859-1')
df.info
print(df.info())

/Users/logambigaikuppusamy/Documents/DataScience/Financeanalyst
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102 entries, 0 to 101
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Scientific name         102 non-null    object
 1   Common name             102 non-null    object
 2   Photo                   0 non-null      float64
 3   Size                    33 non-null     object
 4   Native Species          46 non-null     object
 5   Planted in NYC streets  15 non-null     object
 6   Edible fruit            7 non-null      object
dtypes: float64(1), object(6)
memory usage: 5.7+ KB
None

In [200]:
df = pd.DataFrame([
  ['January', 100, 100, 23, 100],
  ['February', 51, 45, 145, 45],
  ['March', 81, 96, 65, 96],
  ['April', 80, 80, 54, 180],
  ['May', 51, 54, 54, 154],
  ['June', 112, 109, 79, 129]],
  columns=['month', 'clinic_east',
           'clinic_north', 'clinic_south',
           'clinic_west']
)
clinic_north = df['clinic_north']
print(clinic_north)
print(type(clinic_north))
print(type(df))

0    100
1     45
2     96
3     80
4     54
5    109
Name: clinic_north, dtype: int64
<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>

In [202]:
# Select multiple columns
df = pd.DataFrame([
  ['January', 100, 100, 23, 100],
  ['February', 51, 45, 145, 45],
  ['March', 81, 96, 65, 96],
  ['April', 80, 80, 54, 180],
  ['May', 51, 54, 54, 154],
  ['June', 112, 109, 79, 129]],
  columns=['month', 'clinic_east',
           'clinic_north', 'clinic_south',
           'clinic_west']
)
clinic_north_south = df[['clinic_north','clinic_south']]
print(type(clinic_north_south))
clinic_north_south

<class 'pandas.core.frame.DataFrame'>

   clinic_north  clinic_south
0           100            23
1            45           145
2            96            65
3            80            54
4            54            54
5           109            79

In [204]:
# Select Rows
df = pd.DataFrame([
  ['January', 100, 100, 23, 100],
  ['February', 51, 45, 145, 45],
  ['March', 81, 96, 65, 96],
  ['April', 80, 80, 54, 180],
  ['May', 51, 54, 54, 154],
  ['June', 112, 109, 79, 129]],
  columns=['month', 'clinic_east',
           'clinic_north', 'clinic_south',
           'clinic_west'])
march = df.iloc[2] #select from 2nd row
print(df.iloc[2:])

   month  clinic_east  clinic_north  clinic_south  clinic_west
2  March           81            96            65           96
3  April           80            80            54          180
4    May           51            54            54          154
5   June          112           109            79          129

In [205]:
# Selecting Multiple Rows
df = pd.DataFrame([
  ['January', 100, 100, 23, 100],
  ['February', 51, 45, 145, 45],
  ['March', 81, 96, 65, 96],
  ['April', 80, 80, 54, 180],
  ['May', 51, 54, 54, 154],
  ['June', 112, 109, 79, 129]],
  columns=['month', 'clinic_east',
           'clinic_north', 'clinic_south',
           'clinic_west']
)
april_may_june = df.iloc[3:]
print(april_may_june)

   month  clinic_east  clinic_north  clinic_south  clinic_west
3  April           80            80            54          180
4    May           51            54            54          154
5   June          112           109            79          129

In [206]:
# Select Rows with Logic I
df = pd.DataFrame([
  ['January', 100, 100, 23, 100],
  ['February', 51, 45, 145, 45],
  ['March', 81, 96, 65, 96],
  ['April', 80, 80, 54, 180],
  ['May', 51, 54, 54, 154],
  ['June', 112, 109, 79, 129]],
  columns=['month', 'clinic_east',
           'clinic_north', 'clinic_south',
           'clinic_west'])

january = df[df.month=='January']
print(january)

     month  clinic_east  clinic_north  clinic_south  clinic_west
0  January          100           100            23          100

In [209]:
# multiple conditions
march_april = df[(df.month == 'March') | (df.month == 'April')]
print(march_april)

   month  clinic_east  clinic_north  clinic_south  clinic_west
2  March           81            96            65           96
3  April           80            80            54          180

In [210]:
# isin with multiple values
january_february_march = df[df.month.isin(['January','February','March'])]
print(january_february_march)

      month  clinic_east  clinic_north  clinic_south  clinic_west
0   January          100           100            23          100
1  February           51            45           145           45
2     March           81            96            65           96

In [214]:
# Setting indices
df2 = df.iloc[[1, 3, 5],[1,2,3]]
print(df2)
df3 =df2.reset_index()
#print(df2)
print(df3)
#Reset the indices of df2 by using the keyword inplace=True and drop=True

df2.reset_index(inplace=True,drop=True)
print(df2)

   clinic_east  clinic_north  clinic_south
1           51            45           145
3           80            80            54
5          112           109            79
   index  clinic_east  clinic_north  clinic_south
0      1           51            45           145
1      3           80            80            54
2      5          112           109            79
   clinic_east  clinic_north  clinic_south
0           51            45           145
1           80            80            54
2          112           109            79

In [217]:
orders = pd.read_csv('shoe_fly.csv', encoding='ISO-8859-1')
print(orders.head())
source = lambda row : 'animal' if row.shoe_material=='leather' else 'vegan' 
orders['shoe_source'] = orders.apply(source,axis=1)

      id first_name last_name  gender                         email  \
0  54791    Rebecca   Lindsay  female  RebeccaLindsay57@hotmail.com
1  53450      Emily     Joyce  female        EmilyJoyce25@gmail.com
2  91987      Joyce    Waller  female        Joyce.Waller@gmail.com
3  14437     Justin  Erickson    male   Justin.Erickson@outlook.com
4  79357     Andrew     Banks    male              AB4318@gmail.com

      shoe_type shoe_material shoe_color
0         clogs  faux-leather      black
1  ballet flats  faux-leather       navy
2       sandles        fabric      black
3         clogs  faux-leather        red
4         boots       leather      brown

In [236]:
inventory = pd.read_csv('inventory.csv', encoding='ISO-8859-1')
# test = lambda row: row[(row.location=='Brooklyn' and row.product_type=='seeds')]
test = lambda row: True if row.location == 'Brooklyn' and row.product_type == 'seeds' else False
# seed_request = inventory[(inventory.location =='Brooklyn') & (inventory.product_type=='seeds')]
seed_request = inventory[inventory.apply(test,axis=1)]
print(seed_request)

    location product_type product_description  quantity  price
10  Brooklyn        seeds               daisy        50   6.99
11  Brooklyn        seeds          calla lily         0  19.99
12  Brooklyn        seeds              tomato         0  13.99

In [240]:
inventory = pd.read_csv('inventory.csv', encoding='ISO-8859-1')
#print(inventory.head(10))

# staten_island = inventory.head(10)
# #print(staten_island)

# product_request = staten_island.product_description
# print(product_request)

test = lambda row: True if row.location == 'Brooklyn' and row.product_type == 'seeds' else False
# seed_request = inventory[(inventory.location =='Brooklyn') & (inventory.product_type=='seeds')]
seed_request = inventory[inventory.apply(test,axis=1)]
print(seed_request)

in_stock = lambda row: 'True' if row.quantity>0 else 'False'
inventory['in_stock'] = inventory.apply(in_stock,axis=1)
print(inventory['in_stock'])

total_value = lambda row: row.price * row.quantity
inventory['total_value'] = inventory.apply(total_value,axis=1)
print(inventory['total_value'])

combine_lambda = lambda row:'{} - {}'.format(row.product_type,
                     row.product_description)

inventory['full_description'] = inventory.apply(combine_lambda,axis=1)
print(inventory['full_description'])

    location product_type product_description  quantity  price
10  Brooklyn        seeds               daisy        50   6.99
11  Brooklyn        seeds          calla lily         0  19.99
12  Brooklyn        seeds              tomato         0  13.99
0      True
1      True
2      True
3      True
4     False
5      True
6      True
7      True
8     False
9      True
10     True
11    False
12    False
13     True
14     True
15     True
16     True
17     True
18     True
19     True
20     True
21     True
22     True
23     True
24     True
25     True
26    False
27     True
28     True
Name: in_stock, dtype: object
0       27.96
1      919.54
2     1189.15
3       55.96
4        0.00
5     1859.07
6      961.26
7      191.92
8        0.00
9      211.47
10     349.50
11       0.00
12       0.00
13     209.85
14    7379.18
15     719.64
16    1039.20
17    1823.24
18      89.95
19     103.74
20     398.43
21    1899.05
22     629.55
23     293.79
24    8819.02
25     519.74
26       0.00
27     383.84
28    1565.13
Name: total_value, dtype: float64
0                            seeds - daisy
1                       seeds - calla lily
2                           seeds - tomato
3                      garden tools - rake
4               garden tools - wheelbarrow
5                     garden tools - spade
6             pest_control - insect killer
7               pest_control - weed killer
8     planter - 20 inch terracotta planter
9         planter - 8 inch plastic planter
10                           seeds - daisy
11                      seeds - calla lily
12                          seeds - tomato
13                     garden tools - rake
14              garden tools - wheelbarrow
15                    garden tools - spade
16            pest_control - insect killer
17              pest_control - weed killer
18    planter - 20 inch terracotta planter
19        planter - 8 inch plastic planter
20                           seeds - daisy
21                      seeds - calla lily
22                          seeds - tomato
23                     garden tools - rake
24              garden tools - wheelbarrow
25                    garden tools - spade
26            pest_control - insect killer
27              pest_control - weed killer
28    planter - 20 inch terracotta planter
Name: full_description, dtype: object

In [262]:
pip install pandas_datareader

Requirement already satisfied: pandas_datareader in ./venv/lib/python3.9/site-packages (0.10.0)
Requirement already satisfied: pandas>=0.23 in ./venv/lib/python3.9/site-packages (from pandas_datareader) (2.2.3)
Requirement already satisfied: requests>=2.19.0 in ./venv/lib/python3.9/site-packages (from pandas_datareader) (2.32.3)
Requirement already satisfied: lxml in ./venv/lib/python3.9/site-packages (from pandas_datareader) (5.4.0)
Requirement already satisfied: pytz>=2020.1 in ./venv/lib/python3.9/site-packages (from pandas>=0.23->pandas_datareader) (2025.2)
Requirement already satisfied: python-dateutil>=2.8.2 in ./venv/lib/python3.9/site-packages (from pandas>=0.23->pandas_datareader) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.7 in ./venv/lib/python3.9/site-packages (from pandas>=0.23->pandas_datareader) (2025.2)
Requirement already satisfied: numpy>=1.22.4 in ./venv/lib/python3.9/site-packages (from pandas>=0.23->pandas_datareader) (2.0.2)
Requirement already satisfied: six>=1.5 in ./venv/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas>=0.23->pandas_datareader) (1.17.0)
Requirement already satisfied: urllib3<3,>=1.21.1 in ./venv/lib/python3.9/site-packages (from requests>=2.19.0->pandas_datareader) (2.4.0)
Requirement already satisfied: certifi>=2017.4.17 in ./venv/lib/python3.9/site-packages (from requests>=2.19.0->pandas_datareader) (2025.4.26)
Requirement already satisfied: charset-normalizer<4,>=2 in ./venv/lib/python3.9/site-packages (from requests>=2.19.0->pandas_datareader) (3.4.2)
Requirement already satisfied: idna<4,>=2.5 in ./venv/lib/python3.9/site-packages (from requests>=2.19.0->pandas_datareader) (3.10)
WARNING: You are using pip version 21.2.4; however, version 25.1.1 is available.
You should consider upgrading via the '/Users/logambigaikuppusamy/Documents/DataScience/Financeanalyst/venv/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [265]:
from pandas_datareader import wb
from datetime import datetime

start = datetime(2021, 1, 1)
end = datetime(2024, 1, 1)
indicator_id = 'NY.GDP.PCAP.KD'

gdp_per_capita = wb.download(indicator=indicator_id, start=start, end=end, country=['US', 'CA', 'MX', 'IN'])

print(gdp_per_capita)

                    NY.GDP.PCAP.KD
country       year
Canada        2024             NaN
              2023    44468.747502
              2022    45227.144735
              2021    44359.616727
India         2024             NaN
              2023     2236.312793
              2022     2086.076886
              2021     1965.309434
Mexico        2024             NaN
              2023    10241.894511
              2022    10011.254538
              2021     9728.056800
United States 2024             NaN
              2023    65875.177881
              2022    64342.117938
              2021    62996.289384

/var/folders/fk/20jflc4n4z32_r921kfz_l8h0000gn/T/ipykernel_9658/4026062091.py:8: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  gdp_per_capita = wb.download(indicator=indicator_id, start=start, end=end, country=['US', 'CA', 'MX', 'IN'])

In [269]:
from datetime import datetime
import pandas_datareader.data as web

start = datetime(2024,1,1)
end = datetime(2024,2,1)

data =['SP500','fred']
sap_data =web.DataReader(data[0], data[1], start, end)
print(sap_data)

              SP500
DATE
2024-01-01      NaN
2024-01-02  4742.83
2024-01-03  4704.81
2024-01-04  4688.68
2024-01-05  4697.24
2024-01-08  4763.54
2024-01-09  4756.50
2024-01-10  4783.45
2024-01-11  4780.24
2024-01-12  4783.83
2024-01-15      NaN
2024-01-16  4765.98
2024-01-17  4739.21
2024-01-18  4780.94
2024-01-19  4839.81
2024-01-22  4850.43
2024-01-23  4864.60
2024-01-24  4868.55
2024-01-25  4894.16
2024-01-26  4890.97
2024-01-29  4927.93
2024-01-30  4924.97
2024-01-31  4845.65
2024-02-01  4906.19

In [277]:
# API Keys - An API key is a unique string used to identify and authenticate entities requesting data.
import pandas_datareader.data as web
from datetime import datetime

start = datetime(2008,1,1)
end = datetime(2018,1,1)

gdp = web.DataReader('GDP', 'fred', start, end)
gdp['growth'] = gdp['GDP'] - gdp['GDP'].shift(1)
print(gdp.growth.var())
print(gdp.cov())

print(gdp.head(2))

15096.99966398389
                 GDP         growth
GDP     3.262926e+06  110204.264747
growth  1.102043e+05   15096.999664
                  GDP   growth
DATE
2008-01-01  14706.538      NaN
2008-04-01  14865.701  159.163

In [ ]:
import codecademylib3_seaborn
import pandas as pd

tsp_data = pd.read_csv("tsp_data.csv", header = 0, index_col = 0)

print(tsp_data)

print(tsp_data.var())
print(tsp_data.cov())

In [290]:
import pandas as pd

# Create the DataFrame
apple = pd.DataFrame([
    ["2019/08/13", "208.9700", "47539790.0000", "201.0200", "212.1400", "200.8300"],
    ["2019/08/12", "200.4800", "22481890.0000", "199.6200", "202.0516", "199.1500"]
], columns=["date", "close", "volume", "open", "high", "low"])

# Print original DataFrame
print(apple)

# Save to CSV
apple.to_csv('apple_prices.csv', index=False)  # ✅ corrected

# Read the CSV
df1 = pd.read_csv('apple_prices.csv')

# Display read data
print(df1.head(2))
# print(apple_prices['open'].var())

# gas_prices = web.DataReader('APUS12A74714', 'fred',datetime(2008,1,1), datetime(2018,1,1))

# print(gas_prices)

         date     close         volume      open      high       low
0  2019/08/13  208.9700  47539790.0000  201.0200  212.1400  200.8300
1  2019/08/12  200.4800  22481890.0000  199.6200  202.0516  199.1500
         date   close      volume    open      high     low
0  2019/08/13  208.97  47539790.0  201.02  212.1400  200.83
1  2019/08/12  200.48  22481890.0  199.62  202.0516  199.15

In [293]:
import pandas as pd
import numpy as np
import pandas_datareader.data as web
from datetime import datetime
import pandas_datareader.wb as wb


def log_return(prices):
  return prices/prices.shift(1)

gold_prices = pd.read_csv('gold_prices.csv')
print(gold_prices.head(2))

crude_oil_prices =pd.read_csv('crude_oil_prices.csv')
print(crude_oil_prices.head(2))

start = datetime(1999, 1, 1)
end = datetime(2019, 1, 1)

nasdaq_data = web.DataReader('NASDAQ100', 'fred', start, end)

sap_data = web.DataReader('SP500', 'fred', start, end)
print(sap_data.head(5))


gdp_data = wb.download(indicator='NY.GDP.MKTP.CD', country=['US'], start=start , end=end)

export_data = wb.download(indicator='NE.EXP.GNFS.CN', country=['US'], start=start, end=end)

# gold_returns = np.log(log_return(gold_prices['Gold_Price']))

# crudeoil_returns = np.log(log_return(crude_oil_prices['Crude_Oil_Price']))

# sap_returns = np.log(log_return(sap_data['SP500']))

datasets = {'Gold': gold_prices['Gold_Price'], 'Crude Oil': crude_oil_prices['Crude_Oil_Price']}
returns = {}
for name, data in datasets.items():
    returns[name] = np.log(log_return(data))
    print(f'{name} variance:', returns[name].var())

# print(gold_returns,crudeoil_returns,sap_returns)

# print('NASDAQ:', nasdaq_returns.var())
# print('GDP:', gdp_returns.var())
# print('Exports:', export_returns.var())

         Date  Gold_Price
0  2019-08-30      1528.4
1  2019-08-29      1540.2
           Date  Crude_Oil_Price
0  Sep 11, 2018            69.25
1  Sep 10, 2018            67.54
              SP500
DATE
2015-06-08  2079.28
2015-06-09  2080.15
2015-06-10  2105.20
2015-06-11  2108.86
2015-06-12  2094.11

/var/folders/fk/20jflc4n4z32_r921kfz_l8h0000gn/T/ipykernel_9658/4195090420.py:26: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  gdp_data = wb.download(indicator='NY.GDP.MKTP.CD', country=['US'], start=start , end=end)

Gold variance: 0.00011375928671558508
Crude Oil variance: 0.0005563207795629881

/var/folders/fk/20jflc4n4z32_r921kfz_l8h0000gn/T/ipykernel_9658/4195090420.py:28: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  export_data = wb.download(indicator='NE.EXP.GNFS.CN', country=['US'], start=start, end=end)